TUPLAS

1- Cread una tupla que contenga la letra "A"

In [12]:
tupla1 = ("A",)

2- Añadid los siguientes elementos "d", "a", "l", "a", "b") a la tupla definida en el paso anterior. ¿Se puede?
Sí, metiendo esos elementos dentro de una nueva tupla y sumándolos con el signo +

3- Pensad de qué forma podríamos tener una tupla que contenga el siguiente contenido ("A", "d", "a", "l", "a", "b")

In [13]:
tupla2 = ("d", "a", "l","a", "b")

In [14]:
tupla3 = tupla1 + tupla2

In [15]:
tupla3

('A', 'd', 'a', 'l', 'a', 'b')

4. ¿Cuál es el índice de la letra "l"?

In [16]:
tupla3.index("l")

3

La letra "l" está en la posición 3 de python, 4 posición humana.

5. ¿Cuántas veces aparece la letra "a" en nuestra tupla?

In [17]:
tupla3.count("a")

2

La "a" aparece 2 veces

SETS

1. Dados los siguientes sets:

In [19]:
set1 = {1,3,6,2,8,9}

In [20]:
set2 = {2,1,9,3,10,18}

2. Identifica los elementos que están en set1 pero no en set2. Almacenad los resultados en una variable que se llame set 3

In [21]:
set1.symmetric_difference(set2)

{6, 8, 10, 18}

In [57]:
set3 = set1.symmetric_difference(set2)

In [58]:
print(set3)

{18, 6, 8, 10}

3. Identifica los elementos que están en set2 pero no en set1. Almacenad los resultados en una variable que se llame set4.

In [36]:
set4 = set2.symmetric_difference(set1)

In [37]:
set4

{6, 8, 10, 18}

4. Identifica los elementos comunes entre el set1 y el set2. Almacenad los resultados en una variable que se llame set5.

In [38]:
set5 = set1.intersection(set2)

In [26]:
set5

{1, 2, 3, 9}

5. Cread un set vacío llamado set6. Añadid el set3 y el set4 al set6.

In [70]:
set6 = ()

In [71]:
set6 = set3.union(set4)

In [72]:
print(set6)

{6, 8, 10, 18}

6. ¿Es el set1 igual al set6?

In [61]:
set1 == set6

False

7. Chequead si el set1 contiene al set2. Pista:deberéis usar el método issubset()

In [62]:
set1.issubset(set2)

False

No, en set1 no están todos los elementos de set1.

8. Eliminad el primer elemento del set6

In [73]:
set6.pop()

6