- Cread una lista con 10 números aleatorios entre el 0 y el 100, ejecutando el siguiente código:

In [9]:
#Cread una lista con 10 números aleatorios entre el 0 y el 100, ejecutandp el siguiente código:

import random
lista = random.sample(range(1,100), 10)

In [10]:
lista

[79, 46, 23, 95, 70, 57, 56, 67, 88, 82]

In [1]:
#Dado que la lista la hemos obtenido de manera aleatoria, guardamos los valores en la variable "lista1"
lista1 = [4, 53, 97, 14, 88, 8, 60, 74, 70, 85]

In [2]:
#¿Cuál es la longitud de la lista?
len (lista1)

10

In [3]:
#Extraer el número que está en la tercera posición.
l = lista1
l[2]

97

- Extraed el número que está en la tercera posición utilizando los índices negativos.

In [4]:

lista1 [-8]

97

- Preguntad al usuario por un número de la lista usando la función input.
   ¿En qué posición está el número que ha elegido?

In [97]:
input("Elija un número de la" lista1)

SyntaxError: invalid syntax (2173061869.py, line 1)

- Extraed los valores que estén en la tercera y la quinta posición (ambos inclusive).
   Esto nos devolverá una lista de 3 elementos.

In [13]:
lista1[2:5]

[97, 14, 88]

- Extraed los valores que estén en las posiciones 6 y 9 utilizando índices negativos.
   Esto debe devolver una lista con 4 números.

In [14]:

lista1[-5:-1]

[8, 60, 74, 70]

- ¿Cuáles son los números que están en las posiciones pares en nuestra lista?
   lista1 = [4, 53, 97, 14, 88, 8, 60, 74, 70, 85]

In [16]:
lista1[1::2]

[53, 14, 8, 74, 85]

- ¿Y los que están en las posiciones impares?
   lista1 = [4, 53, 97, 14, 88, 8, 60, 74, 70, 85]

In [17]:
lista1[::2]

[4, 97, 88, 60, 70]

- Dadas las siguientes listas, ¿qué nota ha sacado Lupe?:

In [18]:

nombres = ["Laura", "Lorena", "Lupe", "Loreto", "Lucia"]

In [39]:
notas = [9, 8.5, 9.8, 8.9, 9.2]

In [20]:
nombres.index("Lupe")

2

In [21]:
notas[2]

9.8

In [22]:
print("Lupe ha sacado un", notas[2])

Lupe ha sacado un 9.8

- ¿Qué alumna ha sacado la nota más alta?

In [23]:
maxima = max (notas)

In [24]:
print (maxima)

9.8

Para saber qué posición ocupa esa nota:

In [25]:
notas.index(maxima)

2

Para saber qué alumna ocupa esa posición y por tanto tiene la nota más alta:
nombres = ["Laura", "Lorena", "Lupe", "Loreto", "Lucia"]

In [26]:
nombres[notas.index(maxima)]

'Lupe'

In [27]:
print("La alumna que ha sacado la nota más alta es", nombres[notas.index(maxima)])

La alumna que ha sacado la nota más alta es Lupe

12- ¿Qué alumna ha sacado la nota más baja?

In [28]:
minima = min(notas)

In [29]:
print (minima)

8.5

In [30]:
notas.index(minima)

1

La nota mínima es la que ocupa la posición 1 en python. Para saber a qué alumna corresponde dicha posición:

In [31]:
nombres[notas.index(minima)]

'Lorena'

In [32]:
print("La alumna que ha sacado la nota más baja es", nombres[notas.index(minima)])

La alumna que ha sacado la nota más baja es Lorena

¿La nota más baja es mayor que 5?

In [33]:
minima > 5

True

- Ordenad la lista notas[8.5, 8.9, 9, 9.2, 9.8] de mayor a menor.

In [43]:
notas_nuevo_orden = sorted (notas, reverse = True)

In [44]:
print(notas_nuevo_orden)

[9.8, 9.2, 9, 8.9, 8.5]

- Ordenad la lista de notas de mayor a menor. Usa el método que sobreescriba la variable notas.

In [45]:
notas_nuevo_orden_fija = notas_nuevo_orden.copy()

In [46]:
notas_nuevo_orden_fija.sort()

In [47]:
print(notas_nuevo_orden_fija)

[8.5, 8.9, 9, 9.2, 9.8]

- Ordenad la lista de nombres de mayor a menor ¿Qué ha pasado?

In [53]:
nombres.sort()

In [52]:
print(nombres)

['Laura', 'Lorena', 'Loreto', 'Lucia', 'Lupe']

Ha ordenado los nombres por orden alfabético

- Borrad la lista de notas

In [54]:
notas.clear()

In [55]:
notas

[]

- Unid las siguientes listas:

In [81]:
lunes = [34,56,82]
martes = [99,64,24]
miercoles = [12,59,71]

In [82]:
union1 = [martes, miercoles]

In [83]:
print(union1)

[[99, 64, 24], [12, 59, 71]]

In [84]:
union1 = lunes + union1

In [85]:
print(union1)

[34, 56, 82, [99, 64, 24], [12, 59, 71]]

In [86]:
union2 = [lunes + martes + miercoles]

In [87]:
print (union2)

[[34, 56, 82, 99, 64, 24, 12, 59, 71]]

Definid de nuevo las tres listas. Insertad los siguientes valores:
En la lista lunes, insertad un 100 en la primera posición

In [88]:
lunes.insert(0,100)

In [89]:
lunes

[100, 34, 56, 82]

- En la lista martes, insertad un 100 en la tercera posición:

In [90]:
martes.insert(2,100)

In [91]:
martes

[99, 64, 100, 24]

- En la lista miercoles un 100 en la última posición:

In [92]:
miercoles.insert(len(miercoles),100)

In [93]:
miercoles

[12, 59, 71, 100]