Usando la función input, cread un programa que pregunte al usuario por el nombre de 3 amig@s.

In [1]:
amigas = input ()

Almacenad los resultados en una lista usando métodos de los strings.

In [2]:
lista_amigas = amigas.split()

In [3]:
print (lista_amigas)

['Carol', 'María', 'Cristina']

Usando input(), preguntad al usuario por las alturas de sus amigas; y almacenad los resultados en una lista

In [4]:
altura_amigas = input ()

In [5]:
print (altura_amigas)

1.60 1.55 1.65

In [6]:
lista_altura_amigas = altura_amigas.split()

In [7]:
print (lista_altura_amigas)

['1.60', '1.55', '1.65']

Nos interesa que las alturas estén en tipo float, para eso ejecutad el siguiente código. No es necesario entenderlo aún por que lo aprenderemos más adelante

In [8]:
lista_altura_amigas_float = [float(i) for i in lista_altura_amigas]

In [9]:
print (lista_altura_amigas_float)

[1.6, 1.55, 1.65]

Ordenad las dos listas de mayor a menor

In [10]:
lista_altura_ordenada = lista_altura_amigas.copy()

In [11]:
print (lista_altura_ordenada)

['1.60', '1.55', '1.65']

In [12]:
lista_altura_amigas_float_ordenada = lista_altura_amigas_float.copy()

In [13]:
print (lista_altura_amigas_float_ordenada)

[1.6, 1.55, 1.65]

Cuál es la altura máxima?

In [14]:
maxima = max (lista_altura_amigas)

In [15]:
print ("La altura maxima de mis amigas es" , maxima)

La altura maxima de mis amigas es 1.65

Cuál es la altura mínima?

In [16]:
minima = min (lista_altura_amigas)

In [17]:
print ("La altura minima de mis amigas es" , minima)

La altura minima de mis amigas es 1.55

Dadas las siguientes listas:

In [18]:
lista1 = [44, 55, 67, 44, 98, 29]
lista2 = [34, 56, 56, 78, 67, 56]

Unid las dos listas y almacenad los resultados en una nueva variable llamada lista_lista

In [20]:
lista_lista = [lista1, lista2]

In [21]:
print (lista_lista)

[[44, 55, 67, 44, 98, 29], [34, 56, 56, 78, 67, 56]]

Unid las dos listas para que figuren como una sola y llamadla lista_numeros

In [23]:
lista1 + lista2

[44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]

In [26]:
lista_numeros = lista1 + lista2

De la lista_lista ¿cuántas veces aparece el 67? ¿Y en la lista_numeros? Justificad porque salen números diferentes

In [27]:
lista_numeros.count(67)

2

Dadle la vuelta a la lista_numeros

In [31]:
lista_numeros.reverse()

In [32]:
lista_numeros

[56, 67, 78, 56, 56, 34, 29, 98, 44, 67, 55, 44]